@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Arimo);

html, body {
    margin: 0;
}

header {
    background: #ccc;
    height: 65px;

    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.75);
}

div {
    font-family: 'Arimo', sans-serif;
}

nav {
    display: inline-flex;
    height: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

ul li:hover {
    cursor: pointer;
}

a.pageTitle {
    color: #333;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin: 0;
}

ul.navButtons {
    display: inline-flex;
    margin: 0;
}

ul.navButtons li {
    display: inherit;
}

ul.navButtons li a {
    background: #ccc;
    color: #333;
    padding: 20px 10px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 1.2em;

    transition: background .2s ease-in-out, color .2s ease-in-out;
}

ul.navButtons li a:hover {
    background: #444;
    color: #ccc;

    transition: background .2s ease-in-out, color .2s ease-in-out;
}

section.pageContent {
    margin: 30px 70px;
    overflow: auto;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

div.leftContent, div.rightContent {
    width: 20%;
}

div.leftContent {
    float: left;
    text-align: left;
}

div.rightContent {
    float: right;
    text-align: right;
}

div.centerContent {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

div h1 {
    margin: 0 0 10px 0;
}